@charset "utf-8";

/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}



body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #555;
  font-family: 'DM Serif Display', serif;
}

a {
  text-decoration: none;
  color: #555;
}

li {
  list-style: none;
}


/* ------common------ */
.fixed_btn
{
  position: fixed;
  bottom: 20px; 
  right: 10px;
  padding: 6px 20px;
  z-index: 200;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #DBC7CA;
  color: #777;
  background-color: rgba(219, 199, 202, .8);
}

.fixed_btn:hover {
  cursor: pointer;
  background-color: #e29fa9;
}

.application {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: #F1F3F4;
  z-index: 200;
  padding: 15px;
  border: solid 2px#fff;
  border-radius: 10px;
}

.application a {
  font-size: 14px;
  color: #999;
  display: block; 
}

.application a:hover {
  color: #555; 
  background-color: #E0E2E3;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding: 150px 0;
  border-top: solid 3px #DBC7CA;
}

.section:nth-of-type(odd) {
  background-color: #F1F3F4;
}

h3 {
  background: linear-gradient(transparent 70%, #dbc7ca);
}

.blog h3 {
  background: none; /*hover のとき邪魔だからいらない*/
}

strong {
  background: linear-gradient(transparent 80%, #dbc7ca);
}

/*------header------*/
.header_all {
  width: 100%;
  background-color: #DBC7CA;
}


.header_nav ul {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.header_nav ul li {
  display: table-cell;
}

.header_nav ul li a {
  color: #ffffff;
  display: block;
  margin: 25px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  /* font-weight: 700; */
}

.header_nav ul li a:hover {
  color: #eee;
  border-bottom: solid 2px #eee;
  margin: 23px;
}

.header_nav ul li a span {
  display: block;
  margin-top: 5px;
  font-size: 13px;
}


/*------main------*/
/*---top---*/
.top_all {
  position: relative;
  width: 100%;
  height: 500px;
  /* overflow: hidden; */
  background-image: url(../img/zoe-schaeffer-VrvByPe3jPk-unsplash.jpg) ;
  background-repeat:no-repeat;
  background-position:50%;
  background-size:cover;
}

.top_all::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .3);
}

.top_container {
  position: absolute;
  text-align: center;
  z-index: 30;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}

.top_container h1 {
  font-size: 50px;
}

.top_container p {
  font-size: 18px;
}


/*---about---*/
.about_img {
  position: relative;
}

.about_img::after {
  content: "";
  position: absolute;
  background: url(../img/pexels-charlotte-may-5825576.jpg) no-repeat center;
  background-size: cover;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

.deliver_img {
  position: relative;
}

.deliver_img::after {
  content: "";
  position: absolute;
  background: url(../img/rosebox-BFdSCxmqvYc-unsplash.jpg) no-repeat center;
  background-size: cover;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
}

.descript {
  width: 40%;
  height: 50%;
}

.descript_right {
  margin-left: 60%;
}

.title {
  display: block;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 20px;
  line-height: 1.4;
  border-left: solid 4px #DBC7CA;
  font-size: 40px;
  font-weight: bold;
}

.title span {
  display: block;
  font-size: 20px;
}

.txt h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.txt p {
  font-size: 14px;
}

/*---course---*/
.course .container {
  text-align: center;
}

.course .container h2, 
.course .container h3, 
.course .container p, 
.course .container h4 {
  text-align: left;
}

.frame {
  display: inline-block;
  width: 30%;
  height: 100%;
  background: #F1F3F4;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  
}


.txt h3 span {
  display: block;
  font-size: 15px;
}

.sub_title {
  position: relative;
  font-size: 14px;
  padding-top: 10px;
}

.sub_title::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: 10;
  background-color: #999;
  width: 20%;
  height: 2px;
  margin-top: 1px;
}


.frame .attention {
  font-size: 8px;
}


.example {
  width: 90%;
  height: 200px;
  justify-content: center;
}

.price {
  font-size: 18px;
  text-align: center;
  color: #803333;
  padding-top: 15px;
}

.price span {
  margin-right: 5px;
  font-style: italic;
  font-size: 20px;
}

.price em {
  font-style: italic;
  font-size: 25px;
}


/*---reviews---*/
.reviews .container {
  margin: 0 auto;
}

.frame_all {
  display: flex;
  justify-content: center;
}

.frame_review {
  display: inline-table;
  width: 35%;
  height: 100%;
  background-color: #fdfdfd;
  border-radius: 5px;
  margin: 30px;
  padding: 30px;
}

.intro {
  display: flex;
}

.intro_img {
  padding-right: 20px;
}

.intro h3 {
  font-size: 18px;
}

.txt table th {
  padding-left: 10px;
  border-right: solid 3px #DBC7CA;
}

.txt table td {
  padding-left: 10px;
}




/*---gallery---*/
#blog {
  padding-bottom: 50px;
}

.blog .container {
  text-align: center;
}

.blog .container h2 {
  text-align: left;
}

.blog_block {
  display: inline-table;
  margin: 15px;
}

.blog_body {
  text-align: center; 
  margin-bottom: 20px;
}

.blog_body h3 {
  font-size: 12px;
  width: 200px;
  font-weight: bold;
  overflow-wrap: auto;
}

.blog_body p {
  font-size: 12px;
}

.blog_block:hover  .blog_body h3 {
  border-bottom: solid 3px #DBC7CA;
  margin-bottom: -3px;
}

.blog_button {
  display: block;
  text-align: center;
  padding: 15px;
  background-color: #FDFDFD;
  border-radius: 10px;
  border: solid 2px #DBC7CA;
  width: 25%;
  margin: 0 auto 50px;
  transition: all .3s ease-in-out;
}

.blog_button:hover {
  background-color: #DBC7CA;
  color: #fff;
}



/*---contact---*/
.button {
  display: block;
  text-align: center;
  padding: 15px;
  background-color: #DBC7CA;
  border-radius: 10px;
  width: 25%;
  margin: 0 auto 50px;
}

.button span {
  color: #fff;
}




.button:hover {
  background-color: #CAB6BA;
}






/*その他と主な共通部分は省略*/
#contact {
  text-align: center;
  margin-bottom: 40px;
}

a.btn-flat {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 5px;
  background-color: #DBC7CA;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  transition: all .5s ease-in-out;
  transform: translateX(-96%);
  background: #e29fa9;
}

a.btn-flat:hover:before {
  transform: translateX(0%);
}



/*------footer------*/
.bottom {
  background-color: #777;
  padding: 30px 0;
  text-align: center;
  color: #fff;
}